.toggle-menu-button {
  width: 40px;
  height: 40px;
  top: 15px;
  left: 0px;
  position: fixed !important;
}
.main-content {
  transition: all 0.2s;
  margin-left: 40px;
  padding-top: 20px;
}

.logo {
  width: 100px;
}
